.b1 {
  background: red;
  border: 1px solid red;
}

.b1 {
  background: green;
  border: 1px solid green;
}
.b1 {
  background: blue;
  border: 1px solid blue;
}
.b1 {
  background: purple;
  border: 1px solid purple;
}
