@for $i from 1 through 100 {
  .p-#{$i} {
    padding: #{$i}px;
  }
}

@for $i from 1 through 100 {
  .m-#{$i} {
    margin: #{$i}px;
  }
}

@for $i from 1 through 100 {
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
}

@for $i from 1 through 100 {
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
}
